* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/p10.jpg);
    background-size: 100%;


}

.img {
    margin: 0px;
}

/* ============================================ end body */

h1 {
    margin-top: 55px;
    
    font-size: 45px;
    font-weight: bold;
}


h1.font1 {
    font-family: 'Rampart One', cursive;

    color: rgb(216, 106, 16);
}

h1 span {
    color: rgb(107, 50, 4);
}

/*  ==================end h1 (welcome at ToDo app)=========== */
.card1 {
   
    background-color: rgb(107, 50, 4);
    color: rgb(216, 106, 16);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.btn1 {
    background-color: rgb(216, 106, 16);
    color: rgb(107, 50, 4);
    font-size: 20px;
    font-weight: bold;

}

/* ========end card (write task)========================== */

.card2 {
    margin-top:164px;
    margin-left: 73px;
    background-color: #fff0;
    border: none;
}

/* ==============================end card( tasks)=============== */







@media(max-width:750px) {

    body{
        background-image: url(../img/p13.jpg);
    }
    h1 {
        font-size: 32px;
        margin-top: 20px;
    }
    .card1 {
        margin-right: 15px;
    }
    .card2 {
        margin-top: 100px;
        margin-left: -15px;
       margin-right: 50px;
    }
}
